/* editamos el nav */

.h1 {
    font-size: 2rem;
    font-weight: bold;
}

.estilonav {
    font-size: 1,3rem;
    font-weight: bold;
}

.estilonav:hover {
    text-decoration: underline;
    color: white;
}
 .fondonav {
    background-color: thistle;
 }

 /* fin nav */

 /* grillas img */

 .estilodiv {
    padding: 0;
    margin: 0;
 }
 .fondogrilla {
   background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  }



 .imginicio {
    height: 28rem;
    width: 28rem;
 }


 /* fin grillas img */

 /* main sobre mi */

 .imgmain {
    height: 28rem;
    width: 28rem;
 }

 .colortexto {
    color: white;
 }

 .estilop {
    font-weight: bold;
    font-size: 20px;
 }

 /* fin main sobre mi */

 /* footer */

 .imgfooter {
    height: 35px;
    width: 35px;
 }

 .estilop2 {
    font-weight: bold;
 }

 /* fin footer */

 /* SECTION SERVICIOS  */

 .imgservicios {
   height: 20rem;
   width: 20rem;
 }

 .estilopservicios {
   font-weight: bold;
   font-size: large;
 }

 .fondoservicios {
   background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
 }


 /* FIN SECTION SERVICIOS */

 /* CARDS */

 .imgcards {
   height: 20rem;
   width: 20rem;
 }


 /* FIN CARDS */

 /* MAIN CUIDADO */
.imgcuidado {
   height: 450px;
}
 .estilop3 {
   padding-left: 25%;
   padding-right: 25%;
   font-size: 20px;
   color: white;
 }
 .colortexto {
   color: white;
 }

 /* FIN MAIN CUIDADO */