
/*grilla img*/

.estilodiv {
    padding: 0;
    margin: 0;
}

.fondogrilla {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.imginicio {
    height: 28rem;
    width: 28rem;
}
