
/*grilla img*/

.estiloDiv {
    padding: 0;
    margin: 0;
}

.fondoGrilla {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.imgInicio {
    height: 26rem;
    width: 26rem;
    transition: all 0.3s ease;
    filter: grayscale(50%);

    &:hover {
        filter: grayscale(0%);
        transform: scale(1.03);
    }
}
